.header {	
  height: 64px;	
  width: 50%;
  margin: 0 32px;
  display: flex;
  align-items: center;

  .logo-container {
    width: 32px;
    height: 32px;
  }

  .title {
    font-size: 20px;
    color: rgba(0,0,0,0.85);
    padding: 0 8px;
    line-height: 16px;
    height: 20px;
  }
}