.header {	
  height: 64px;	
  width: 100%;
  display: flex;

  .logo-container {
    padding: 16px 0 16px 32px;	
  }

  .title {
    font-size: 20px;
    color: rgba(0,0,0,0.85);
    line-height: 24px;
    padding: 20px 8px;
  }
}